#div {
   position: absolute;
   align-items: center;
   justify-content: center;
   border-right: 1px solid black;
  
   
  
   width: 45%;
   
    }
    
   #first, #last, #phone, #email {
   width: 90%;
   height: 30px;
   border-radius: 5px;
   margin-top: 10px;
   }

#output {
position: absolute;
margin-left: 55%;

}