#yes {
    align-items: center;
    justify-content: center;
    border-right: 1px solid black;
    width: 45%;
   
   
     }
     
    #school, #study, #date {
    width: 40%;
    height: 30px;
    border-radius: 5px;
    margin-top: 10px;
    }
 
 