#pracexp {
    position: absolute;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 45%;
    height: 30%;
    margin-top: 505px;
     }
     
    #companyname, #positiontitle, #responsibilitys, #datestartend {
        width: 90%;
        height: 30px;
        border-radius: 5px;
        margin-top: 10px;
        border: 2px solid #fff;
        color: black;
        background-color: rgba(93, 92, 92, 0.09);
        margin-left: 3%;
    }

    #practical-info {
        margin-top: 65px;
        border-radius: 5px;
        background: #4681f4;
        color: #fff;
        width: 80%;
        padding: 5%;
        font-size: 2rem;
        font-family: Andale mono, monospsace;
        box-shadow: 2px 2px 4px 0px rgb(0, 0, 0, 0.2);
        border: 2px solid #fff;
        margin-left: 9%;
        
        }
        
        #practical-info:active {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s 0.2s, opacity 0.05s linear;
        }
        
        #practical-info:hover {
        cursor: pointer;
        transform: scale(1.02);
        }

          #submit-practical {
            background: #4681f4;
            color: #fff;
            font-family: Andale mono, monospsace;
           
            border: none;
            width: 30%;
            border-radius: 2px;
            margin-left: 30%;
            margin-top: 3%;
         }
         
         #submit-practical:hover {
            cursor: pointer;
            transform: scale(1.04);
         
         }
         
         #submit-practical:active {
            visibility: hidden;
            opacity: 0;
            transition: visibility 0s 0.2s, opacity 0.2s linear;
         
         }
    
        
        


    #practical-output {
        position: absolute;
        margin-left: 55%;
        color: black;
        margin-top: 500px;

    }